    <header>
      <div id="burger-menu" class="icons">
        <button class="icon-default" aria-label="Obrir menú" aria-expanded="false">
          <i class="fa fa-bars" style="font-size:32px;"></i>
        </button>
        <button class="icon-active" aria-label="Tancar menú" aria-hidden="true">
          <i class="fa fa-times" style="font-size:32px;"></i>
        </button>
      </div>
      <h1><a href="/src/index.html"><img src="/src/media/logo.png" alt="Logo de l'illa de Menorca" /></a></h1>

  <nav id="menu">
    <div class="menu-box">
      <ul>
        <li><a href="index.html" data-nav="home">Inici</a></li>
        <li><a href="categoria1.html" data-nav="cales">Cales</a></li>
        <li><a href="categoria2.html" data-nav="pobles">Pobles</a></li>
        <li><a href="links.html" data-nav="links">Enllaços</a></li>
      </ul>
    </div>
  </nav>
    </header>