    <header>
      <div id="burger-menu" class="icons">
        <button class="icon-default" aria-label="Obrir menú" aria-expanded="false">
          <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
        </button>
        <button class="icon-active" aria-label="Tancar menú" aria-hidden="true">
          <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <a href="/src/index.html"><img class="logo" src="/src/media/logo.svg" width="148" height="45" alt="Logo de l'illa de Menorca"/></a>

  <nav id="menu">
    <div class="menu-box">
      <ul>
        <li><a href="categoria1.html" data-nav="cales">Cales</a></li>
        <li><a href="categoria2.html" data-nav="pobles">Pobles</a></li>
        <li><a href="links.html" data-nav="links">Enllaços</a></li>
      </ul>
    </div>
  </nav>
    </header>