@import "../../node_modules/normalize.css/normalize.css";

// Variables
$color-primary: #1a4f63;
$color-accent: #746558;
$color-background: #f3efe7;
$color-text: #2b2b2b;

$font-headers: "Libre Baskerville", serif;
$font-body: "Poppins", sans-serif;

// Mixin
@mixin transition($time) {
  transition: all $time ease-in-out;
}

* {
  box-sizing: border-box;
}

img, .mes-informacio picture {
  width: 100%;
  height: auto;
  display: block;
  @include transition(0.3s);
}

.wave-clip {
  overflow: clip;
  clip-path: url(#waveClip);
  border-radius: 1em;
}

.svg-animation path {
  animation: waveAnimation 8s ease-in-out infinite;
}

@keyframes waveAnimation {
  0% {
    d: path('M0,60 C240,100 480,20 720,40 960,60 1200,100 1440,60 L1440,0 L0,0 Z');
  }
  25% {
    d: path('M0,50 C240,30 480,80 720,60 960,40 1200,70 1440,50 L1440,0 L0,0 Z');
  }
  50% {
    d: path('M0,40 C240,20 480,100 720,80 960,60 1200,20 1440,40 L1440,0 L0,0 Z');
  }
  75% {
    d: path('M0,55 C240,75 480,35 720,50 960,70 1200,45 1440,55 L1440,0 L0,0 Z');
  }
  100% {
    d: path('M0,60 C240,100 480,20 720,40 960,60 1200,100 1440,60 L1440,0 L0,0 Z');
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.introduccio, .mes-informacio, .imatge-detall, .categories-intro  {
  animation: fadeIn 1s ease-out;
  
  h1 {
    animation: fadeInUp 0.8s ease-out 0.2s backwards;
  }
  
  p {
    animation: fadeInUp 0.8s ease-out 0.4s backwards;
  }
  
   h2 {
    animation: fadeInUp 0.8s ease-out 0.3s backwards;
  }
}


.cards-container .card {
  animation: fadeInUp 0.6s ease-out backwards;
  
  &:nth-child(1) {
    animation-delay: 0.1s;
  }
  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    animation-delay: 0.3s;
  }
  &:nth-child(4) {
    animation-delay: 0.4s;
  }
  &:nth-child(5) {
    animation-delay: 0.5s;
  }
  &:nth-child(6) {
    animation-delay: 0.6s;
  }
}

.introduccio img,
.cards-container .card img,
.mes-informacio .imatges picture,
.imatge-detall img,
.mes-informacio img {
  border-radius: 0.75em;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.introduccio img.hero-banner {
  border-radius: .75em 0.75em 0 0em;
}

.cards-container .card img {
  overflow: hidden;
}
body { 
  font-family: $font-body;
  background-color: $color-background;
  color: $color-primary;
  margin: 0;
  padding: 1.25em;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.25em;

  a {
    color: $color-primary;
    @include transition(0.3s);

    &:hover {
      color: adjust($color-primary, 10%);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-headers;
    color: $color-accent;
    @include transition(0.3s);
  }
  p {
    line-height: 1.5;
    font-family: $font-body;
    color: $color-text;
    text-align: center;
  }

  :focus {
    outline: 3px solid $color-accent;
    outline-offset: 2px;
    border-radius: 0.2em;
  }
}

footer {
  position: relative;
  width: 100%;
  border-top: 0.125em solid $color-accent;
  text-align: center;
  padding: 0.625em 0;
  div {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }

  p {
    margin: 0;
    font-size: 0.875em;
    color: $color-text;
  }
}

.introduccio {
  h1 {
    color: $color-primary;
    font-style: italic;
    font-weight: normal;
    font-size: 2.375em;
    text-align: center;
  }
}

.categories-intro {
  margin: 2.5em 0;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

article h2 {
  font-size: 1.75em;
  text-align: center;
  margin: 0;
}
article {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25em;
  max-width: 100%;
  width: 100%;

  .card {
    background-color: #ffffff;
    padding: 1.25em;
    border-radius: 1.25em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.25);
    flex: 1 1 calc(100% - 1.25em); /* ocupa el 100% menys el gap en mobile */
    max-width: 100%;
    box-sizing: border-box;
    @include transition(0.3s);
    
    &:hover {
      transform: translateY(-0.5em);
      box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    }
    
    img {
      @include transition(0.4s);
    }
    
    &:hover img {
      transform: scale(1.05);
    }
    h3 {
      font-family: $font-body;
      font-size: 1.375em;
      color: $color-text;
      font-weight: normal;
    }
    .btn-more-info {
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: $color-primary;
      color: #fff;
      width: 100%;
      border: none;
      padding: 0.625em 1em;
      border-radius: 0.5em;
      cursor: pointer;
      font-size: 1em;
      @include transition(0.3s);
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2);
        transform: translate(-50%, -50%);
        transition: width 0.5s, height 0.5s;
      }

      &:hover::before {
        width: 300px;
        height: 300px;
      }

      &:hover {
        background-color: $color-accent;
        transform: scale(1.02);
      }
      &.blocked {
        background-color: gray;
        cursor: not-allowed;
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  border-bottom: 0.125em solid $color-accent;
  display: flex;
  justify-content: space-between;
  padding: 0.625em 0;
  box-sizing: border-box;

  align-items: flex-end;

  nav {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    padding: 0;
    padding-top: calc(var(--header-height) + 0.125em);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: background 300ms ease, opacity 300ms ease, visibility 300ms ease;
    z-index: 1000;
    overflow-y: auto;
  }

  nav > .menu-box {
    width: 100%;
    max-width: 30em;
    background: transparent;
    box-sizing: border-box;
    padding: 0.75em 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1.125em;
    align-items: center;
  }

  nav ul {
    list-style: none;
    padding: 6rem 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.125em;
    align-items: center;
    width: 100%;
  }

  nav a {
    display: block;
    padding: 0.75em 1em;
    box-sizing: border-box;
    color: #f3efe7;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }

  .icons {
    order: 0;
    position: relative;
    width: 2.75em;
    height: 2.75em;
    z-index: 1100;
    margin-right: 0.75em;
    display: block;

    button {
      position: absolute;
      inset: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      font: inherit;
      color: inherit;
      cursor: pointer;
      line-height: 0;
      -webkit-appearance: none;
      appearance: none;
    }

    .icon-default {
      display: block;
    }
    .icon-active {
      display: none;
      color: $color-background;
    }
  }

  h1 {
    margin: 0;
    font-style: italic;
    font-size: 1.5em;
    img {
      max-width: 7.8125em;
    }
  }

  &.is-active {
    .icon-default {
      display: none;
    }
    .icon-active {
      display: block;
    }

    nav {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .logo {
    width:148px;
    height: auto;
  }
}

.list-icones {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  span {
    color: $color-text;
  }
}

.mes-informacio {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .imatges {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

section.links-info {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0;

    li {
      list-style: none;
      text-align: center;
    }
  }
}

/* Video embed styling */
.video {
  h2 {
    text-align: center;
    margin-bottom: 0.75em;
  }
  .video-container {
    width: 100%;
    max-width: 64em;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .video-embed {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 520px) and (max-width: 1024px) {
  body {
    padding: 0 2em;
    gap: 1.5em;
  }

  header {
    padding: 0.875em 0;
    .icons {
      display: none;
    }
    nav {
      position: static;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      background: transparent;
    }
    nav ul {
      padding: 1.5rem 0 0;
      flex-direction: row;
      gap: 1.5em;
      align-items: baseline;
    }

    nav a {
      color: $color-primary;
      font-size: 1em;
      padding: 0.5em 0;
      width: auto;
      border-bottom: 0.125em solid transparent;
      @include transition(0.3s);
      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom-color: $color-primary;
        transform: translateY(-0.125em);
      }
      &.active {
        font-weight: 700;
        color: $color-primary;
        border-bottom-color: $color-primary;
      }
    }

    h1 {
      font-size: 1.75em;
      img {
        max-width: 10em;
      }
    }
          .logo {
    width:200px;
  }
  }

  .cards-container {
    gap: 1.25em;
    .card {
      flex: 1 1 calc(50% - 1.25em);
      max-width: calc(50% - 1.25em);
    }
  }

  .introduccio {
    h1 {
      font-size: 2em;
    }
  }

  .mes-informacio {
    .imatges {
      flex-direction: row;
      gap: 0.75em;
      img {
        flex: 1 1 calc(33.333% - 0.75em);
        max-width: calc(33.333% - 0.75em);
        height: auto;
        display: block;
      }
    }
  }

  .video {
    .video-container {
      max-width: 48em;
    }
    .video-embed {
      border-radius: 0.5em;
    }
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0 5em;
    max-width: 87.5em;
    margin: 0 auto;
  }

  header {
    padding: 1.125em 0;

    .icons {
      display: none;
    }

    h1 {
      order: 0;
      flex: 0 0 auto;
      font-size: 1.75em;
      color: $color-accent;

      img {
        max-width: 12.5em;
      }
    }

    nav {
      order: 1;
      margin-left: auto;
      position: static;
      background: transparent;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      padding: 0;
    }

    nav > .menu-box {
      max-width: none;
      padding: 0;
      background: transparent;
    }

    nav ul {
      padding: 2rem 0 0;
      flex-direction: row;
      gap: 2em;
      align-items: baseline;
    }

    nav a {
      color: $color-primary;
      font-size: 1em;
      padding: 0.375em 0;
      width: auto;
      border-bottom: 0.125em solid transparent;
      transition: border-color 160ms ease, color 160ms ease;

      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom-color: $color-primary;
      }
      &.active {
        font-weight: 700;
        color: $color-primary;
        border-bottom-color: $color-primary;
      }
    }
      .logo {
    width:200px;
  }
  }
  .introduccio {
    h2 {
      font-size: 2.25em;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1em;
    }
  }

  .cards-container {
    flex-wrap: nowrap;
    gap: 1.25em;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;

    .card {
      flex: 1 1 calc(33.333% - 1.25em); /* 3 columnes en desktop */
      max-width: calc(33.333% - 1.25em);
    }
  }

  .card-grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer {
    margin: 4em 0 0.1em;
    div {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .imatge-detall {
    display: flex;
    flex-direction: row;
    img {
      flex: 50%;
    }

    .descripcio {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      flex: 50%;
      padding: 0 1.25em;

      h2 {
        text-align: left;
      }
      p {
        margin: 0;
        text-align: left;

        line-height: 1.5;
      }
    }
    .list-icones {
      align-items: flex-start;
      padding-top: 1em;
    }
  }

  .mes-informacio {
    .imatges {
      flex-direction: row;
      gap: 1em;
    }
    h3 {
      margin-top: 2em;
      margin-bottom: 0em;
    }
    p {
      text-align: left;
    }
  }
}
